<div class="row">
	<div class="col-lg-8 offset-2">
		<div class="card">
			<img src="{{article.image}}"
			     class="card-img-top"
			     alt="Profile Photo">
			<div class="card-body">
				<h1 class="card-title">{{article.title}}</h1>
				<div class="mb-3">
					<span class="badge bg-success">John Doe</span>
					<span class="badge bg-success">January 31, 2021</span>
					<span class="badge bg-success">#bootstrap</span>
				</div>
				<div class="card-text">
					{{{article.content}}}
				</div>
			</div>
		</div>
	</div>
</div>